In [1]:
#Importing neccesary packages:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Importing the required dataset:
df_o1=pd.read_csv('Players_Medal_list_Olympics.csv')
df_o2=pd.read_csv('Medal_List_Olympics.csv')
df_a1=pd.read_csv('Players_Medal_List_Asian.csv')
df_a2=pd.read_csv('Medal_List_Asian.csv')

# Q5:

## Top athletes for that particular country in terms of medals won:

**Currently we'll work with top 5 athletes corresponding to each country, overall etc.**

In [3]:
nat=input("Enter the Nation's name:")
yr=input("Enter the year:")

In [4]:
if yr!='Overall':
    yr=int(yr)

In [5]:
yr

'Overall'

In [6]:
df_o1

,Name,Gender,Country,Year,Host_City,Sport,Event,Sport_Type,Gold,Silver,Bronze
0,Takashi Ono,M,Japan,1952,Helsinki,Gymnastics,Gymnastics Men's Horse Vault,Team,0,0,1
1,Dharam Singh Gill,M,India,1952,Helsinki,Hockey,Hockey Men's Hockey,Team,1,0,0
2,Randhir Singh Gentle,M,India,1952,Helsinki,Hockey,Hockey Men's Hockey,Team,1,0,0
3,Chinadorai Deshmutu,M,India,1952,Helsinki,Hockey,Hockey Men's Hockey,Team,1,0,0
4,Shiro Hashizume,M,Japan,1952,Helsinki,Swimming,"Swimming Men's 1,500 metres Freestyle",Individual,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
3344,Ulugbek Rashitov,M,Uzbekistan,2020,Tokyo,Taekwondo,Men's 68 kg,Individual,1,0,0
3345,Akbar Djuraev,M,Uzbekistan,2020,Tokyo,Weightlifting,Men's 109 kg,Individual,1,0,0
3346,Bakhodir Jalolov,M,Uzbekistan,2020,Tokyo,Boxing,Men's super heavyweight,Individual,1,0,0
3347,Davlat Bobonov,M,Uzbekistan,2020,Tokyo,Judo,Men's 90 kg,Individual,0,0,1
3348,Bekzod Abdurakhmonov,M,Uzbekistan,2020,Tokyo,Wrestling,Men's freestyle 74 kg,Individual,0,0,1

In [7]:
df1=df_o1[:]

In [8]:
df1

,Name,Gender,Country,Year,Host_City,Sport,Event,Sport_Type,Gold,Silver,Bronze
0,Takashi Ono,M,Japan,1952,Helsinki,Gymnastics,Gymnastics Men's Horse Vault,Team,0,0,1
1,Dharam Singh Gill,M,India,1952,Helsinki,Hockey,Hockey Men's Hockey,Team,1,0,0
2,Randhir Singh Gentle,M,India,1952,Helsinki,Hockey,Hockey Men's Hockey,Team,1,0,0
3,Chinadorai Deshmutu,M,India,1952,Helsinki,Hockey,Hockey Men's Hockey,Team,1,0,0
4,Shiro Hashizume,M,Japan,1952,Helsinki,Swimming,"Swimming Men's 1,500 metres Freestyle",Individual,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
3344,Ulugbek Rashitov,M,Uzbekistan,2020,Tokyo,Taekwondo,Men's 68 kg,Individual,1,0,0
3345,Akbar Djuraev,M,Uzbekistan,2020,Tokyo,Weightlifting,Men's 109 kg,Individual,1,0,0
3346,Bakhodir Jalolov,M,Uzbekistan,2020,Tokyo,Boxing,Men's super heavyweight,Individual,1,0,0
3347,Davlat Bobonov,M,Uzbekistan,2020,Tokyo,Judo,Men's 90 kg,Individual,0,0,1
3348,Bekzod Abdurakhmonov,M,Uzbekistan,2020,Tokyo,Wrestling,Men's freestyle 74 kg,Individual,0,0,1

In [9]:
df1['Total']=df1['Gold']+df1['Silver']+df1['Bronze']

C:\Users\DEEPAK~1\AppData\Local\Temp/ipykernel_1952/2827583429.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Total']=df1['Gold']+df1['Silver']+df1['Bronze']

In [10]:
df1

,Name,Gender,Country,Year,Host_City,Sport,Event,Sport_Type,Gold,Silver,Bronze,Total
0,Takashi Ono,M,Japan,1952,Helsinki,Gymnastics,Gymnastics Men's Horse Vault,Team,0,0,1,1
1,Dharam Singh Gill,M,India,1952,Helsinki,Hockey,Hockey Men's Hockey,Team,1,0,0,1
2,Randhir Singh Gentle,M,India,1952,Helsinki,Hockey,Hockey Men's Hockey,Team,1,0,0,1
3,Chinadorai Deshmutu,M,India,1952,Helsinki,Hockey,Hockey Men's Hockey,Team,1,0,0,1
4,Shiro Hashizume,M,Japan,1952,Helsinki,Swimming,"Swimming Men's 1,500 metres Freestyle",Individual,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
3344,Ulugbek Rashitov,M,Uzbekistan,2020,Tokyo,Taekwondo,Men's 68 kg,Individual,1,0,0,1
3345,Akbar Djuraev,M,Uzbekistan,2020,Tokyo,Weightlifting,Men's 109 kg,Individual,1,0,0,1
3346,Bakhodir Jalolov,M,Uzbekistan,2020,Tokyo,Boxing,Men's super heavyweight,Individual,1,0,0,1
3347,Davlat Bobonov,M,Uzbekistan,2020,Tokyo,Judo,Men's 90 kg,Individual,0,0,1,1
3348,Bekzod Abdurakhmonov,M,Uzbekistan,2020,Tokyo,Wrestling,Men's freestyle 74 kg,Individual,0,0,1,1

In [11]:
if nat!='Overall':
    if yr!='Overall':
        df1=df1[df1["Country"]==nat]
        df1=df1[df1['Year']==yr].reset_index(drop=True)
        df1=df1.groupby(['Name'])['Gold','Silver','Bronze','Total'].sum().reset_index()
        df1=df1.sort_values(['Gold','Silver','Bronze'], ascending=False)
        df1=df1.reset_index(drop=True)
        df1=df1[:5]
    else:
        df1=df1[df1["Country"]==nat]
        df1=df1.groupby(['Name'])['Gold','Silver','Bronze','Total'].sum().reset_index()
        df1=df1.sort_values(['Gold','Silver','Bronze'], ascending=False)
        df1=df1.reset_index(drop=True)
        df1=df1[:5]
else:
    if yr!='Overall':
        df1=df1[df1['Year']==yr]
        df1=df1.groupby(['Name','Gender','Country'])['Gold','Silver','Bronze','Total'].sum().reset_index()
        df1=df1.sort_values(['Gold','Silver','Bronze'], ascending=False)
        df1=df1.reset_index(drop=True)
        df1=df1[:5]   
    else:
        df1=df1.groupby(['Name','Gender','Country'])['Gold','Silver','Bronze','Total'].sum().reset_index()
        df1=df1.sort_values(['Gold','Silver','Bronze'], ascending=False)
        df1=df1.reset_index(drop=True)
        df1=df1[:5]

C:\Users\DEEPAK~1\AppData\Local\Temp/ipykernel_1952/1204947975.py:11: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df1=df1.groupby(['Name'])['Gold','Silver','Bronze','Total'].sum().reset_index()

In [12]:
df1

                        Name  Gold  Silver  Bronze  Total
0          Udham Singh Kular     3       1       0      4
1     Leslie Walter Claudius     2       1       0      3
2      Shankar Pillay Laxman     2       1       0      3
3  Balbir Singh Dosanjh, Sr.     2       0       0      2
4             Govind Perumal     2       0       0      2

**We have successfullly completed Olympics data analysis of Q5 here and generated  required tables. There would not be any visualizations here. 
The output would simply be 5 lines of output of the corresponding top athletes.**

**Now, we'll work on Asian Games for the same question**

In [13]:
nat=input("Enter the Nation's name:")
yr=input("Enter the year:")

In [14]:
if yr!='Overall':
    yr=int(yr)

In [15]:
yr

'Overall'

In [16]:
df_a1

,Player_Name,Gender,Country,Year,Sport,Event,Sport_Type,Gold,Silver,Bronze
0,Soichi Tamoi,M,Japan,1951,Athletics,"10,000 m",Single,1,0,0
1,Ryosuke Takasugi,M,Japan,1951,Athletics,"10,000 m",Single,0,1,0
2,Gurbachan Singh,M,India,1951,Athletics,"10,000 m",Single,0,0,1
3,Mahabir Prasad,M,India,1951,Athletics,"10,000 m walk",Single,1,0,0
4,Takeo Sato,M,Japan,1951,Athletics,"10,000 m walk",Single,0,1,0
...,...,...,...,...,...,...,...,...,...,...
31015,Tomohiro Araya,Unknown,Japan,2018,Wushu,Taijiquan / Taijijian,Single,0,1,0
31016,Nyein Chan Ko Ko,Unknown,Myanmar,2018,Wushu,Taijiquan / Taijijian,Single,0,0,1
31017,Lindswell Kwok,F,Indonesia,2018,Wushu,Taijiquan / Taijijian,Single,1,0,0
31018,Juanita Mok,F,Hong Kong,2018,Wushu,Taijiquan / Taijijian,Single,0,1,0
31019,Agatha Wong,F,Philippines,2018,Wushu,Taijiquan / Taijijian,Single,0,0,1

In [17]:
df1=df_a1[:]

In [18]:
df1

,Player_Name,Gender,Country,Year,Sport,Event,Sport_Type,Gold,Silver,Bronze
0,Soichi Tamoi,M,Japan,1951,Athletics,"10,000 m",Single,1,0,0
1,Ryosuke Takasugi,M,Japan,1951,Athletics,"10,000 m",Single,0,1,0
2,Gurbachan Singh,M,India,1951,Athletics,"10,000 m",Single,0,0,1
3,Mahabir Prasad,M,India,1951,Athletics,"10,000 m walk",Single,1,0,0
4,Takeo Sato,M,Japan,1951,Athletics,"10,000 m walk",Single,0,1,0
...,...,...,...,...,...,...,...,...,...,...
31015,Tomohiro Araya,Unknown,Japan,2018,Wushu,Taijiquan / Taijijian,Single,0,1,0
31016,Nyein Chan Ko Ko,Unknown,Myanmar,2018,Wushu,Taijiquan / Taijijian,Single,0,0,1
31017,Lindswell Kwok,F,Indonesia,2018,Wushu,Taijiquan / Taijijian,Single,1,0,0
31018,Juanita Mok,F,Hong Kong,2018,Wushu,Taijiquan / Taijijian,Single,0,1,0
31019,Agatha Wong,F,Philippines,2018,Wushu,Taijiquan / Taijijian,Single,0,0,1

In [19]:
df1['Total']=df1['Gold']+df1['Silver']+df1['Bronze']

C:\Users\DEEPAK~1\AppData\Local\Temp/ipykernel_1952/2827583429.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Total']=df1['Gold']+df1['Silver']+df1['Bronze']

In [20]:
df1

,Player_Name,Gender,Country,Year,Sport,Event,Sport_Type,Gold,Silver,Bronze,Total
0,Soichi Tamoi,M,Japan,1951,Athletics,"10,000 m",Single,1,0,0,1
1,Ryosuke Takasugi,M,Japan,1951,Athletics,"10,000 m",Single,0,1,0,1
2,Gurbachan Singh,M,India,1951,Athletics,"10,000 m",Single,0,0,1,1
3,Mahabir Prasad,M,India,1951,Athletics,"10,000 m walk",Single,1,0,0,1
4,Takeo Sato,M,Japan,1951,Athletics,"10,000 m walk",Single,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
31015,Tomohiro Araya,Unknown,Japan,2018,Wushu,Taijiquan / Taijijian,Single,0,1,0,1
31016,Nyein Chan Ko Ko,Unknown,Myanmar,2018,Wushu,Taijiquan / Taijijian,Single,0,0,1,1
31017,Lindswell Kwok,F,Indonesia,2018,Wushu,Taijiquan / Taijijian,Single,1,0,0,1
31018,Juanita Mok,F,Hong Kong,2018,Wushu,Taijiquan / Taijijian,Single,0,1,0,1
31019,Agatha Wong,F,Philippines,2018,Wushu,Taijiquan / Taijijian,Single,0,0,1,1

In [21]:
if nat!='Overall':
    if yr!='Overall':
        df1=df1[df1["Country"]==nat]
        df1=df1[df1['Year']==yr].reset_index(drop=True)
        df1=df1.groupby(['Player_Name'])['Gold','Silver','Bronze','Total'].sum().reset_index()
        df1=df1.sort_values(['Gold','Silver','Bronze'], ascending=False)
        df1=df1.reset_index(drop=True)
        df1=df1[:5]
    else:
        df1=df1[df1["Country"]==nat]
        df1=df1.groupby(['Player_Name'])['Gold','Silver','Bronze','Total'].sum().reset_index()
        df1=df1.sort_values(['Gold','Silver','Bronze'], ascending=False)
        df1=df1.reset_index(drop=True)
        df1=df1[:5]
else:
    if yr!='Overall':
        df1=df1[df1['Year']==yr]
        df1=df1.groupby(['Player_Name','Gender','Country'])['Gold','Silver','Bronze','Total'].sum().reset_index()
        df1=df1.sort_values(['Gold','Silver','Bronze'], ascending=False)
        df1=df1.reset_index(drop=True)
        df1=df1[:5]   
    else:
        df1=df1.groupby(['Player_Name','Gender','Country'])['Gold','Silver','Bronze','Total'].sum().reset_index()
        df1=df1.sort_values(['Gold','Silver','Bronze'], ascending=False)
        df1=df1.reset_index(drop=True)
        df1=df1[:5]

C:\Users\DEEPAK~1\AppData\Local\Temp/ipykernel_1952/3664004991.py:11: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df1=df1.groupby(['Player_Name'])['Gold','Silver','Bronze','Total'].sum().reset_index()

In [22]:
df1

           Player_Name  Gold  Silver  Bronze  Total
0         Leander Paes     5       0       3      8
1         Milkha Singh     5       0       0      5
2           P. T. Usha     4       7       0     11
3          Jaspal Rana     4       2       2      8
4  Parduman Singh Brar     3       1       1      5

**We've completed analysis of both Asian Games and Olympic games**