 In this question, the primary thing that needs to be done is to do country wise and player wise analysis with respect to the type of medal won(Year wise and overall),so we need find the countries who never won a gold or never won a silver medal or never won a bronze medal and this needs to be done for both asian and olympic games, and also we find the players who never won a gold or never won a silver medal or never won a bronze medal and this needs also to be done for both asian and olympic games.

Now by doing this what insight we can derive is that we can find the countries who never won let's say a gold medal then we can call them unlucky countries w.r.t to gold medal, and also the same thing we can do for the players, we can find unlucky players w.r.t  gold medal, this analysis we do for each year separately and also overall.

What is the advantage of doing this? So, by doing this a country can get to know whether it is unlucky w.r.t gold medal or not and in which year it is unlucky and a country can find it's unlucky players who never made to gold medal.

In [64]:
import pandas as pd
import numpy as np

In [65]:
oly_player=pd.read_csv("Players_Medal_List_Olympics.csv")  # Olympic Player and Medal data
oly_medal=pd.read_csv("Medal_List_Olympics.csv")  # Olympic medal data

In [66]:
oly_medal.head()

   Year Host_City       Sport      Country  Gold  Silver  Bronze  Total
0  1952  Helsinki      Boxing  South Korea     0       0       1      1
1  1952  Helsinki  Gymnastics        Japan     0       0       1      1
2  1952  Helsinki  Gymnastics        Japan     0       2       0      2
3  1952  Helsinki      Hockey        India     1       0       0      1
4  1952  Helsinki    Swimming        Japan     0       1       0      1

## Country Analysis Olympic

In [67]:
oly_medal2=oly_medal.drop(columns=["Host_City","Sport"])
oly_medal2=oly_medal2.groupby(by=["Year","Country"]).sum().reset_index()

In [68]:
oly_medal2.head()

   Year      Country  Gold  Silver  Bronze  Total
0  1952        India     1       0       1      2
1  1952         Iran     0       3       4      7
2  1952        Japan     1       6       1      8
3  1952  South Korea     0       0       2      2
4  1956        India     1       0       0      1

In [69]:
df1=oly_medal2[(oly_medal2["Total"]>=1) & (oly_medal2["Gold"]==0)]
df2=oly_medal2[(oly_medal2["Total"]>=1) & (oly_medal2["Silver"]==0)]
df3=oly_medal2[(oly_medal2["Total"]>=1) & (oly_medal2["Bronze"]==0)]

Countries Who never won a Gold Medal

In [70]:
df1.head()

   Year         Country  Gold  Silver  Bronze  Total
1  1952            Iran     0       3       4      7
3  1952     South Korea     0       0       2      2
7  1956        Pakistan     0       1       0      1
8  1956     South Korea     0       1       1      2
9  1960  Chinese Taipei     0       1       0      1

Countries Who never won a Silver Medal

In [71]:
df2.head()

    Year      Country  Gold  Silver  Bronze  Total
0   1952        India     1       0       1      2
3   1952  South Korea     0       0       2      2
4   1956        India     1       0       0      1
12  1960         Iraq     0       0       1      1
14  1960     Pakistan     1       0       1      2

Countries Who never won a Bronze Medal

In [72]:
df3.head()

    Year         Country  Gold  Silver  Bronze  Total
4   1956           India     1       0       0      1
7   1956        Pakistan     0       1       0      1
9   1960  Chinese Taipei     0       1       0      1
10  1960           India     0       1       0      1
15  1960       Singapore     0       1       0      1

So, here we get the list of countries who never won a gold or silver or bronze medal year wise for Olympic games, for example we can see that in year 1952 "India" did not won any silver medal and in year 1960 "India" did not won any gold medal.

In [73]:
oly_medal3=oly_medal2.drop(columns=["Year"])
oly_medal3=oly_medal3.groupby(by=["Country"]).sum().reset_index()

In [74]:
df1=oly_medal3[(oly_medal3["Total"]>=1) & (oly_medal3["Gold"]==0)]
df2=oly_medal3[(oly_medal3["Total"]>=1) & (oly_medal3["Silver"]==0)]
df3=oly_medal3[(oly_medal3["Total"]>=1) & (oly_medal3["Bronze"]==0)]

Overall Countries who never won Gold Medal

In [75]:
df1.head()

        Country  Gold  Silver  Bronze  Total
0   Afghanistan     0       0       2      2
8          Iraq     0       0       1      1
12       Kuwait     0       0       3      3
13   Kyrgyzstan     0       3       3      6
14     Malaysia     0       8       5     13

Overall Countries who never won Silver Medal

In [76]:
df2.head()

                 Country  Gold  Silver  Bronze  Total
0            Afghanistan     0       0       2      2
8                   Iraq     0       0       1      1
12                Kuwait     0       0       3      3
28  United Arab Emirates     1       0       1      2

Overall Countries who never won Bronze Medal

In [77]:
df3.head()

         Country  Gold  Silver  Bronze  Total
23     Sri Lanka     0       1       0      1
27  Turkmenistan     0       1       0      1
30       Vietnam     1       3       0      4

here we get the list of countries who never got a gold or silver or bronze medal in the olympic games, for example we can see that "Afghanistan" is the country who never get olympic gold.

## Player Analysis Olympic

In [78]:
oly_player.head()

,Name,Gender,Country,Year,Host_City,Sport,Event,Sport_Type,Gold,Silver,Bronze
0,Takashi Ono,M,Japan,1952,Helsinki,Gymnastics,Gymnastics Men's Horse Vault,Team,0,0,1
1,Dharam Singh Gill,M,India,1952,Helsinki,Hockey,Hockey Men's Hockey,Team,1,0,0
2,Randhir Singh Gentle,M,India,1952,Helsinki,Hockey,Hockey Men's Hockey,Team,1,0,0
3,Chinadorai Deshmutu,M,India,1952,Helsinki,Hockey,Hockey Men's Hockey,Team,1,0,0
4,Shiro Hashizume,M,Japan,1952,Helsinki,Swimming,"Swimming Men's 1,500 metres Freestyle",Individual,0,1,0

In [79]:
oly_player2=oly_player[oly_player["Sport_Type"]=="Individual"].drop(columns=["Gender","Host_City","Event","Sport_Type"])
oly_player2.head()

,Name,Country,Year,Sport,Gold,Silver,Bronze
4,Shiro Hashizume,Japan,1952,Swimming,0,1,0
6,Hiroshi Suzuki,Japan,1952,Swimming,0,1,0
7,Kim Seong-Jip,South Korea,1952,Weightlifting,0,0,1
8,Tofigh Jahanbakht,Iran,1952,Wrestling,0,0,1
9,Khashaba Dadasaheb Jahdav,India,1952,Wrestling,0,0,1

In [80]:
oly_player2["Total"]=oly_player2["Gold"]+oly_player2["Silver"]+oly_player2["Bronze"]

In [81]:
oly_player2.head()

,Name,Country,Year,Sport,Gold,Silver,Bronze,Total
4,Shiro Hashizume,Japan,1952,Swimming,0,1,0,1
6,Hiroshi Suzuki,Japan,1952,Swimming,0,1,0,1
7,Kim Seong-Jip,South Korea,1952,Weightlifting,0,0,1,1
8,Tofigh Jahanbakht,Iran,1952,Wrestling,0,0,1,1
9,Khashaba Dadasaheb Jahdav,India,1952,Wrestling,0,0,1,1

In [82]:
oly_player3=oly_player2.groupby(by=["Year","Country","Sport","Name"]).sum().reset_index()
oly_player3.head()

,Year,Country,Sport,Name,Gold,Silver,Bronze,Total
0,1952,India,Wrestling,Khashaba Dadasaheb Jahdav,0,0,1,1
1,1952,Iran,Weightlifting,Ali Mirzai,0,0,1,1
2,1952,Iran,Weightlifting,Mahmoud Namdjou,0,1,0,1
3,1952,Iran,Wrestling,Gholam Reza Takhti,0,1,0,1
4,1952,Iran,Wrestling,Mahmoud Mollaghasemi Tabrizi,0,0,1,1

In [83]:
df_gold=oly_player3[(oly_player3["Total"]>=1) & (oly_player3["Gold"]==0)]
df_silver=oly_player3[(oly_player3["Total"]>=1) & (oly_player3["Silver"]==0)]
df_bronze=oly_player3[(oly_player3["Total"]>=1) & (oly_player3["Bronze"]==0)]

Players Who never won a Gold Medal

In [84]:
df_gold.head()

,Year,Country,Sport,Name,Gold,Silver,Bronze,Total
0,1952,India,Wrestling,Khashaba Dadasaheb Jahdav,0,0,1,1
1,1952,Iran,Weightlifting,Ali Mirzai,0,0,1,1
2,1952,Iran,Weightlifting,Mahmoud Namdjou,0,1,0,1
3,1952,Iran,Wrestling,Gholam Reza Takhti,0,1,0,1
4,1952,Iran,Wrestling,Mahmoud Mollaghasemi Tabrizi,0,0,1,1

Players Who never won a Silver Medal

In [85]:
df_silver.head()

,Year,Country,Sport,Name,Gold,Silver,Bronze,Total
0,1952,India,Wrestling,Khashaba Dadasaheb Jahdav,0,0,1,1
1,1952,Iran,Weightlifting,Ali Mirzai,0,0,1,1
4,1952,Iran,Wrestling,Mahmoud Mollaghasemi Tabrizi,0,0,1,1
6,1952,Iran,Wrestling,Sayed Abdollah Mojtabavi,0,0,1,1
7,1952,Iran,Wrestling,Tofigh Jahanbakht,0,0,1,1

Players Who never won a Bronze Medal

In [86]:
df_bronze.head()

,Year,Country,Sport,Name,Gold,Silver,Bronze,Total
2,1952,Iran,Weightlifting,Mahmoud Namdjou,0,1,0,1
3,1952,Iran,Wrestling,Gholam Reza Takhti,0,1,0,1
5,1952,Iran,Wrestling,Nasser Givehchi,0,1,0,1
8,1952,Japan,Gymnastics,Masao Takemoto,0,1,0,1
9,1952,Japan,Gymnastics,Tadao Uesako,0,1,0,1

here we get the list of players who did not won gold or silver or bronze in olympic yearwise and also here we can find for a particular country say "India" the players who did not won gold in a particular year, for example as we can see in year "1952" the only player "Khashaba Dadasaheb  Jahdav" did not won any gold medal in the 1952 olympic.

In [87]:
oly_player4=oly_player3.drop(columns=["Year"])
oly_player4=oly_player4.groupby(by=["Country","Sport","Name"]).sum().reset_index()

In [88]:
oly_player4.head()

       Country      Sport                   Name  Gold  Silver  Bronze  Total
0  Afghanistan  Taekwondo        Rohullah Nikpai     0       0       2      2
1      Bahrain  Athletics  Eunice Jepkirui Kirwa     0       1       0      1
2      Bahrain  Athletics     Kalkidan Gezahegne     0       1       0      1
3      Bahrain  Athletics     Maryam Yusuf Jamal     0       0       1      1
4      Bahrain  Athletics             Ruth Jebet     1       0       0      1

In [89]:
df1=oly_player4[(oly_player4["Total"]>=1) & (oly_player4["Gold"]==0)]
df2=oly_player4[(oly_player4["Total"]>=1) & (oly_player4["Silver"]==0)]
df3=oly_player4[(oly_player4["Total"]>=1) & (oly_player4["Bronze"]==0)]

Overall Players Who never won a Gold Medal

In [90]:
df1.head()

       Country      Sport                   Name  Gold  Silver  Bronze  Total
0  Afghanistan  Taekwondo        Rohullah Nikpai     0       0       2      2
1      Bahrain  Athletics  Eunice Jepkirui Kirwa     0       1       0      1
2      Bahrain  Athletics     Kalkidan Gezahegne     0       1       0      1
3      Bahrain  Athletics     Maryam Yusuf Jamal     0       0       1      1
5        China    Archery          Dai Xiaoxiang     0       0       1      1

Overall Players Who never won a Silver Medal

In [91]:
df2.head()

       Country      Sport                Name  Gold  Silver  Bronze  Total
0  Afghanistan  Taekwondo     Rohullah Nikpai     0       0       2      2
3      Bahrain  Athletics  Maryam Yusuf Jamal     0       0       1      1
4      Bahrain  Athletics          Ruth Jebet     1       0       0      1
5        China    Archery       Dai Xiaoxiang     0       0       1      1
8        China    Archery      Zhang Juanjuan     1       0       0      1

Overall Players Who never won a Bronze Medal

In [92]:
df3.head()

   Country      Sport                   Name  Gold  Silver  Bronze  Total
1  Bahrain  Athletics  Eunice Jepkirui Kirwa     0       1       0      1
2  Bahrain  Athletics     Kalkidan Gezahegne     0       1       0      1
4  Bahrain  Athletics             Ruth Jebet     1       0       0      1
6    China    Archery                He Ying     0       1       0      1
7    China    Archery            Li Lingjuan     0       1       0      1

here we get the list of players who never won gold or silver or bronze medal overall, by using this we can find for a country if there is any player who never won any gold medal in olympic games till now and we can call it an unlucky player with respect to gold.

## Country Analysis Asian

In [93]:
asian_player=pd.read_csv("Players_Medal_List_Asian.csv")
asian_medal=pd.read_csv("Medal_List_Asian.csv")

In [94]:
asian_medal["Year"]=asian_medal["Year"].astype('int64')

In [95]:
asian_medal.head()

   Year      Sport  Rank      Country  Gold  Silver  Bronze  Total
0  1951  Athletics     1        Japan    20      17      11     48
1  1951  Athletics     2        India    10      12      12     34
2  1951  Athletics     3    Singapore     1       2       2      5
3  1951  Athletics     4         Iran     1       1       0      2
4  1951  Athletics     5  Philippines     1       0       3      4

In [96]:
asian_medal2=asian_medal.drop(columns=["Sport","Rank"])
asian_medal2=asian_medal2.groupby(by=["Year","Country"]).sum().reset_index()

In [97]:
asian_medal2.head()

   Year    Country  Gold  Silver  Bronze  Total
0  1951      Burma     0       0       3      3
1  1951     Ceylon     0       1       0      1
2  1951      India    15      16      20     51
3  1951  Indonesia     0       0       5      5
4  1951       Iran     8       6       2     16

In [98]:
df_gold=asian_medal2[(asian_medal2["Total"]>=1) & (asian_medal2["Gold"]==0)]
df_silver=asian_medal2[(asian_medal2["Total"]>=1) & (asian_medal2["Silver"]==0)]
df_bronze=asian_medal2[(asian_medal2["Total"]>=1) & (asian_medal2["Bronze"]==0)]

Countries Who never won a Gold Medal

In [99]:
df_gold.head()

    Year      Country  Gold  Silver  Bronze  Total
0   1951        Burma     0       0       3      3
1   1951       Ceylon     0       1       0      1
3   1951    Indonesia     0       0       5      5
8   1954  Afghanistan     0       1       0      1
10  1954       Ceylon     0       1       1      2

Countries Who never won a Silver Medal

In [100]:
df_silver.head()

    Year    Country  Gold  Silver  Bronze  Total
0   1951      Burma     0       0       3      3
3   1951  Indonesia     0       0       5      5
9   1954      Burma     2       0       2      4
11  1954  Hong Kong     0       0       1      1
13  1954  Indonesia     0       0       3      3

Countries Who never won a Bronze Medal

In [101]:
df_bronze.head()

    Year      Country  Gold  Silver  Bronze  Total
1   1951       Ceylon     0       1       0      1
8   1954  Afghanistan     0       1       0      1
41  1962    Hong Kong     0       2       0      2
69  1970       Ceylon     2       2       0      4
93  1974       Kuwait     0       1       0      1

just like olympic games here we get the list of countries who did not won gold or silver or bronze in a particular year, by using this result we can find for any particular country in which it did not won any gold medal in Asian games and we can call those years as unkucky years w.r.t gold medal for that country.

In [102]:
asian_medal3=asian_medal2.drop(columns=["Year"])
asian_medal3=asian_medal3.groupby(by=["Country"]).sum().reset_index()

In [103]:
df1=asian_medal3[(asian_medal3["Total"]>=1) & (asian_medal3["Gold"]==0)]
df2=asian_medal3[(asian_medal3["Total"]>=1) & (asian_medal3["Silver"]==0)]
df3=asian_medal3[(asian_medal3["Total"]>=1) & (asian_medal3["Bronze"]==0)]

Overall Countries who never won Gold Medal

In [104]:
df1.head()

           Country  Gold  Silver  Bronze  Total
0      Afghanistan     0       5       8     13
3           Brunei     0       0       4      4
18  Khmer Republic     0       2       3      5
22            Laos     0       4      11     15
29           Nepal     0       2      22     24

Overall Countries who never won Silver Medal

In [105]:
df2.head()

      Country  Gold  Silver  Bronze  Total
3      Brunei     0       0       4      4
5    Cambodia     3       0       2      5
31       Oman     1       0       3      4
33  Palestine     0       0       1      1
49      Yemen     0       0       2      2

Overall Countries who never won Bronze Medal

In [106]:
df3.head()

Empty DataFrame
Columns: [Country, Gold, Silver, Bronze, Total]
Index: []

here we get the list of countries who did not won any gold or silver or bronze medal overall in asian games, for example we can see that countries such as "Afghanistan","Nepal" etc. did not get any gold medal till now in asian games, so we can say that these are unlucky countries w.r.t gold medal in asian games.

## Player analysis Asian

In [107]:
asian_player.head()

,Player_Name,Gender,Country,Year,Sport,Event,Sport_Type,Gold,Silver,Bronze
0,Soichi Tamoi,M,Japan,1951,Athletics,"10,000 m",Single,1,0,0
1,Ryosuke Takasugi,M,Japan,1951,Athletics,"10,000 m",Single,0,1,0
2,Gurbachan Singh,M,India,1951,Athletics,"10,000 m",Single,0,0,1
3,Mahabir Prasad,M,India,1951,Athletics,"10,000 m walk",Single,1,0,0
4,Takeo Sato,M,Japan,1951,Athletics,"10,000 m walk",Single,0,1,0

In [108]:
asian_player2=asian_player[asian_player["Sport_Type"]=="Single"].drop(columns=["Gender","Event","Sport_Type"])
asian_player2.head()

        Player_Name Country  Year      Sport  Gold  Silver  Bronze
0      Soichi Tamoi   Japan  1951  Athletics     1       0       0
1  Ryosuke Takasugi   Japan  1951  Athletics     0       1       0
2   Gurbachan Singh   India  1951  Athletics     0       0       1
3    Mahabir Prasad   India  1951  Athletics     1       0       0
4        Takeo Sato   Japan  1951  Athletics     0       1       0

In [109]:
asian_player2["Total"]=asian_player2["Gold"]+asian_player2["Silver"]+asian_player2["Bronze"]

In [110]:
asian_player2.head()

        Player_Name Country  Year      Sport  Gold  Silver  Bronze  Total
0      Soichi Tamoi   Japan  1951  Athletics     1       0       0      1
1  Ryosuke Takasugi   Japan  1951  Athletics     0       1       0      1
2   Gurbachan Singh   India  1951  Athletics     0       0       1      1
3    Mahabir Prasad   India  1951  Athletics     1       0       0      1
4        Takeo Sato   Japan  1951  Athletics     0       1       0      1

In [111]:
asian_player3=asian_player2.groupby(by=["Year","Country","Sport","Player_Name"]).sum().reset_index()
asian_player3.head()

   Year Country          Sport       Player_Name  Gold  Silver  Bronze  Total
0  1951   Burma  Weightlifting          Ba Thein     0       0       1      1
1  1951   Burma  Weightlifting  Maung Maung Lwin     0       0       1      1
2  1951   Burma  Weightlifting         Thein Han     0       0       1      1
3  1951  Ceylon      Athletics       M. A. Akbar     0       1       0      1
4  1951   India      Athletics      A. S. Bakshi     0       1       0      1

In [112]:
df_gold=asian_player3[(asian_player3["Total"]>=1) & (asian_player3["Gold"]==0)]
df_silver=asian_player3[(asian_player3["Total"]>=1) & (asian_player3["Silver"]==0)]
df_bronze=asian_player3[(asian_player3["Total"]>=1) & (asian_player3["Bronze"]==0)]

Players Who never won a Gold Medal

In [113]:
df_gold.head()

   Year Country          Sport       Player_Name  Gold  Silver  Bronze  Total
0  1951   Burma  Weightlifting          Ba Thein     0       0       1      1
1  1951   Burma  Weightlifting  Maung Maung Lwin     0       0       1      1
2  1951   Burma  Weightlifting         Thein Han     0       0       1      1
3  1951  Ceylon      Athletics       M. A. Akbar     0       1       0      1
4  1951   India      Athletics      A. S. Bakshi     0       1       0      1

Players Who never won a Silver Medal

In [114]:
df_silver.head()

   Year Country          Sport       Player_Name  Gold  Silver  Bronze  Total
0  1951   Burma  Weightlifting          Ba Thein     0       0       1      1
1  1951   Burma  Weightlifting  Maung Maung Lwin     0       0       1      1
2  1951   Burma  Weightlifting         Thein Han     0       0       1      1
5  1951   India      Athletics        Ajit Singh     0       0       1      1
7  1951   India      Athletics   Bakhtawar Singh     1       0       0      1

Players Who never won a Bronze Medal

In [115]:
df_bronze.head()

   Year Country      Sport      Player_Name  Gold  Silver  Bronze  Total
3  1951  Ceylon  Athletics      M. A. Akbar     0       1       0      1
4  1951   India  Athletics     A. S. Bakshi     0       1       0      1
6  1951   India  Athletics           B. Das     0       1       0      1
7  1951   India  Athletics  Bakhtawar Singh     1       0       0      1
8  1951   India  Athletics     Baldev Singh     0       1       0      1

here we get the list of players who did not won gold or silver or bronze medal in a particluar year in asian games, by using this we can find the list of players in any particular year for a country who did not won gold or silver or bronze medal in asian games.

In [116]:
asian_player4=asian_player3.drop(columns=["Year"])
asian_player4=asian_player4.groupby(by=["Country","Sport","Player_Name"]).sum().reset_index()

In [117]:
asian_player4.head()

       Country      Sport         Player_Name  Gold  Silver  Bronze  Total
0  Afghanistan     Kurash     Mansour Sarwari     0       0       1      1
1  Afghanistan  Taekwondo   Ahmad Roman Abasi     0       0       1      1
2  Afghanistan  Taekwondo       Jawad Lakzaee     0       0       1      1
3  Afghanistan  Taekwondo  Nesar Ahmad Bahave     0       1       1      2
4  Afghanistan  Taekwondo         Roia Zamani     0       0       1      1

In [118]:
df1=asian_player4[(asian_player4["Total"]>=1) & (asian_player4["Gold"]==0)]
df2=asian_player4[(asian_player4["Total"]>=1) & (asian_player4["Silver"]==0)]
df3=asian_player4[(asian_player4["Total"]>=1) & (asian_player4["Bronze"]==0)]

Overall Players Who never won a Gold Medal

In [119]:
df1.head()

       Country      Sport         Player_Name  Gold  Silver  Bronze  Total
0  Afghanistan     Kurash     Mansour Sarwari     0       0       1      1
1  Afghanistan  Taekwondo   Ahmad Roman Abasi     0       0       1      1
2  Afghanistan  Taekwondo       Jawad Lakzaee     0       0       1      1
3  Afghanistan  Taekwondo  Nesar Ahmad Bahave     0       1       1      2
4  Afghanistan  Taekwondo         Roia Zamani     0       0       1      1

Overall Players Who never won a Silver Medal

In [120]:
df2.head()

       Country      Sport        Player_Name  Gold  Silver  Bronze  Total
0  Afghanistan     Kurash    Mansour Sarwari     0       0       1      1
1  Afghanistan  Taekwondo  Ahmad Roman Abasi     0       0       1      1
2  Afghanistan  Taekwondo      Jawad Lakzaee     0       0       1      1
4  Afghanistan  Taekwondo        Roia Zamani     0       0       1      1
6  Afghanistan  Wrestling     Mohammad Aslam     0       0       1      1

Overall Players Who never won a Bronze Medal

In [121]:
df3.head()

        Country      Sport           Player_Name  Gold  Silver  Bronze  Total
5   Afghanistan  Wrestling       Baryalai Naseri     0       1       0      1
8   Afghanistan  Wrestling   Taj Mohammad Khairi     0       1       0      1
11      Bahrain  Athletics  Abbas Abubakar Abbas     0       1       0      1
13      Bahrain  Athletics      Abraham Cheroben     1       0       0      1
16      Bahrain  Athletics          Alemu Bekele     0       1       0      1


In this question the analysis is related to the players who won some medal in asian games but not able to get the same type of medal in olympic games and vice versa, so we are actualy trying to find the players let's say a player who won a gold medal in asian game but not able to won gold in olympic game.

by doing this kind of analysis we can find those players who win a gold medal in asian but not in olympic and vice versa, and we can call them in-consistent players who were not able to maintain consistency between asian and olympic games. Also we can do this analysis in two ways, first sportwise and second countrywise. By doing sportwise analysis we can find for a particular sport which players were not able to maintain the consistency between asian and olympic games.

In [122]:
import pandas as pd
import numpy as np

In [123]:
oly_player=pd.read_csv("Players_Medal_List_Olympics.csv")
asian_player=pd.read_csv("Players_Medal_List_Asian.csv")

In [124]:
oly_player.head()

,Name,Gender,Country,Year,Host_City,Sport,Event,Sport_Type,Gold,Silver,Bronze
0,Takashi Ono,M,Japan,1952,Helsinki,Gymnastics,Gymnastics Men's Horse Vault,Team,0,0,1
1,Dharam Singh Gill,M,India,1952,Helsinki,Hockey,Hockey Men's Hockey,Team,1,0,0
2,Randhir Singh Gentle,M,India,1952,Helsinki,Hockey,Hockey Men's Hockey,Team,1,0,0
3,Chinadorai Deshmutu,M,India,1952,Helsinki,Hockey,Hockey Men's Hockey,Team,1,0,0
4,Shiro Hashizume,M,Japan,1952,Helsinki,Swimming,"Swimming Men's 1,500 metres Freestyle",Individual,0,1,0

In [125]:
asian_player.head()

,Player_Name,Gender,Country,Year,Sport,Event,Sport_Type,Gold,Silver,Bronze
0,Soichi Tamoi,M,Japan,1951,Athletics,"10,000 m",Single,1,0,0
1,Ryosuke Takasugi,M,Japan,1951,Athletics,"10,000 m",Single,0,1,0
2,Gurbachan Singh,M,India,1951,Athletics,"10,000 m",Single,0,0,1
3,Mahabir Prasad,M,India,1951,Athletics,"10,000 m walk",Single,1,0,0
4,Takeo Sato,M,Japan,1951,Athletics,"10,000 m walk",Single,0,1,0

In [126]:
oly_player2=oly_player.drop(columns=["Year","Host_City","Event","Sport_Type"])

In [127]:
oly_player2.head()

                   Name Gender Country       Sport  Gold  Silver  Bronze
0           Takashi Ono      M   Japan  Gymnastics     0       0       1
1     Dharam Singh Gill      M   India      Hockey     1       0       0
2  Randhir Singh Gentle      M   India      Hockey     1       0       0
3   Chinadorai Deshmutu      M   India      Hockey     1       0       0
4       Shiro Hashizume      M   Japan    Swimming     0       1       0

In [128]:
oly_player2=oly_player2.groupby(by=["Country","Sport","Gender","Name"]).sum().reset_index()

In [129]:
oly_player2.head()

       Country      Sport Gender                   Name  Gold  Silver  Bronze
0  Afghanistan  Taekwondo      M        Rohullah Nikpai     0       0       2
1      Bahrain  Athletics      F  Eunice Jepkirui Kirwa     0       1       0
2      Bahrain  Athletics      F     Kalkidan Gezahegne     0       1       0
3      Bahrain  Athletics      F     Maryam Yusuf Jamal     0       0       1
4      Bahrain  Athletics      F             Ruth Jebet     1       0       0

In [130]:
asian_player2=asian_player.drop(columns=["Year","Event","Sport_Type"])

In [131]:
asian_player2.head()

        Player_Name Gender Country      Sport  Gold  Silver  Bronze
0      Soichi Tamoi      M   Japan  Athletics     1       0       0
1  Ryosuke Takasugi      M   Japan  Athletics     0       1       0
2   Gurbachan Singh      M   India  Athletics     0       0       1
3    Mahabir Prasad      M   India  Athletics     1       0       0
4        Takeo Sato      M   Japan  Athletics     0       1       0

In [132]:
asian_player2=asian_player2.groupby(by=["Country","Sport","Gender","Player_Name"]).sum().reset_index()

In [133]:
asian_player2.head()

       Country    Sport Gender       Player_Name  Gold  Silver  Bronze
0  Afghanistan  Cricket      M     Abdullah Adil     0       1       0
1  Afghanistan  Cricket      M   Abdullah Mazari     0       1       0
2  Afghanistan  Cricket      M        Aftab Alam     0       1       0
3  Afghanistan  Cricket      M        Amir Hamza     0       1       0
4  Afghanistan  Cricket      M  Asghar Stanikzai     0       1       0

In [134]:
asia_olympic=asian_player2.merge(oly_player2,left_on="Player_Name",right_on="Name",suffixes=('_Asian','_Olympic'))

In [135]:
asia_olympic.head()

,Country_Asian,Sport_Asian,Gender_Asian,Player_Name,Gold_Asian,Silver_Asian,Bronze_Asian,Country_Olympic,Sport_Olympic,Gender_Olympic,Name,Gold_Olympic,Silver_Olympic,Bronze_Olympic
0,Bahrain,Athletics,F,Kalkidan Gezahegne,2,0,0,Bahrain,Athletics,F,Kalkidan Gezahegne,0,1,0
1,Bahrain,Athletics,F,Maryam Yusuf Jamal,5,0,0,Bahrain,Athletics,F,Maryam Yusuf Jamal,0,0,1
2,Bahrain,Athletics,F,Ruth Jebet,1,0,0,Bahrain,Athletics,F,Ruth Jebet,1,0,0
3,China,Archery,F,Cheng Ming,0,3,0,China,Archery,F,Cheng Ming,0,1,0
4,China,Archery,F,He Ying,1,1,0,China,Archery,F,He Ying,0,2,0

In [136]:
sport_wise={}

for x in asian_player2["Sport"].unique():
    temp={}
    
    df1=asian_player2[asian_player2["Sport"]==x]
    df2=oly_player2[oly_player2["Sport"]==x]
    
    if len(df1)>0 and len(df2)>0:
        result=df1.merge(df2,left_on="Player_Name",right_on="Name",suffixes=('_Asian','_Olympic'))
        
        temp["Asian_Olympic_Gold"]=result[(result["Gold_Asian"]>=1) & (result["Gold_Olympic"]==0)][["Name","Country_Asian"]].values
        temp["Asian_Olympic_Silver"]=result[(result["Silver_Asian"]>=1) & (result["Silver_Olympic"]==0)][["Name","Country_Asian"]].values
        temp["Asian_Olympic_Bronze"]=result[(result["Bronze_Asian"]>=1) & (result["Bronze_Olympic"]==0)][["Name","Country_Asian"]].values
        
        temp["Olympic_Asian_Gold"]=result[(result["Gold_Asian"]==0) & (result["Gold_Olympic"]>=1)][["Name","Country_Asian"]].values
        temp["Olympic_Asian_Silver"]=result[(result["Silver_Asian"]==0) & (result["Silver_Olympic"]>=1)][["Name","Country_Asian"]].values
        temp["Olympic_Asian_Bronze"]=result[(result["Bronze_Asian"]==0) & (result["Bronze_Olympic"]>=1)][["Name","Country_Asian"]].values
        
        sport_wise[x]=temp

In [137]:
sport_wise

{'Taekwondo': {'Asian_Olympic_Gold': array([['Mohammad Bagheri Motamed', 'Iran'],
         ['Yousef Karami', 'Iran'],
         ['Lee Da-bin', 'South Korea'],
         ['Chanatip Sonkham', 'Thailand']], dtype=object),
  'Asian_Olympic_Silver': array([['Chen Zhong', 'China'],
         ['Zhao Shuai', 'China'],
         ['Yaowapa Boorapolchai', 'Thailand']], dtype=object),
  'Asian_Olympic_Bronze': array([['Chen Zhong', 'China'],
         ['Luo Wei', 'China'],
         ['Wu Jingyu', 'China']], dtype=object),
  'Olympic_Asian_Gold': array([['Zhao Shuai', 'China']], dtype=object),
  'Olympic_Asian_Silver': array([['Mohammad Bagheri Motamed', 'Iran'],
         ['Lee Da-bin', 'South Korea']], dtype=object),
  'Olympic_Asian_Bronze': array([['Zhao Shuai', 'China'],
         ['Yousef Karami', 'Iran']], dtype=object)},
 'Wrestling': {'Asian_Olympic_Gold': array([['Zhou Qian', 'China'],
         ['Bajrang Punia', 'India'],
         ['Yogeshwar Dutt', 'India'],
         ['Abbas Jadidi', 'Iran'],
         ['Hassan Yazdani', 'Iran'],
         ['Mansour Barzegar', 'Iran'],
         ['Rahim Aliabadi', 'Iran'],
         ['Sadegh Goudarzi', 'Iran'],
         ['Kyoko Hamaguchi', 'Japan'],
         ['Kikuo Wada', 'Japan'],
         ['Akira Kudo', 'Japan'],
         ['Chiharu Icho', 'Japan'],
         ['Koichiro Hirayama', 'Japan'],
         ['Shigeru Kasahara', 'Japan'],
         ['Shinobu Ota', 'Japan'],
         ['Takashi Irie', 'Japan'],
         ['Yasaburo Sugawara', 'Japan'],
         ['Aisuluu Tynybekova', 'Kyrgyzstan'],
         ['Zevegiin Oidov', 'Mongolia'],
         ['Muhammad Bashir', 'Pakistan'],
         ['Bekzod Abdurakhmonov', 'Uzbekistan']], dtype=object),
  'Asian_Olympic_Silver': array([['Sheng Zetian', 'China'],
         ['Bajrang Punia', 'India'],
         ['Tofigh Jahanbakht', 'Iran'],
         ['Kaori Icho', 'Japan'],
         ['Kyoko Hamaguchi', 'Japan'],
         ['Kiyomi Kato', 'Japan'],
         ['Chikara Tanabe', 'Japan'],
         ['Risako Kawai', 'Japan'],
         ['Ryutaro Matsumoto', 'Japan'],
         ['Takuya Ota', 'Japan'],
         ['Tsutomu Hanahara', 'Japan'],
         ['Yuji Takada', 'Japan'],
         ['Danzandarjaagiin Sereeter', 'Mongolia'],
         ['Muhammad Bashir', 'Pakistan']], dtype=object),
  'Asian_Olympic_Bronze': array([['Mohammad Reza Geraei', 'Iran'],
         ['Nasser Givehchi', 'Iran'],
         ['Akira Ota', 'Japan'],
         ['Takashi Irie', 'Japan'],
         ['Aisuluu Tynybekova', 'Kyrgyzstan'],
         ['Jamtsyn Davaajav', 'Mongolia']], dtype=object),
  'Olympic_Asian_Gold': array([['Mohammad Reza Geraei', 'Iran'],
         ['Kiyomi Kato', 'Japan'],
         ['Risako Kawai', 'Japan'],
         ['Tsutomu Hanahara', 'Japan']], dtype=object),
  'Olympic_Asian_Silver': array([['Hassan Yazdani', 'Iran'],
         ['Mansour Barzegar', 'Iran'],
         ['Nasser Givehchi', 'Iran'],
         ['Rahim Aliabadi', 'Iran'],
         ['Sadegh Goudarzi', 'Iran'],
         ['Kikuo Wada', 'Japan'],
         ['Akira Ota', 'Japan'],
         ['Atsuji Miyahara', 'Japan'],
         ['Chiharu Icho', 'Japan'],
         ['Koichiro Hirayama', 'Japan'],
         ['Saori Yoshida', 'Japan'],
         ['Shigeru Kasahara', 'Japan'],
         ['Shinobu Ota', 'Japan'],
         ['Takashi Irie', 'Japan'],
         ['Aisuluu Tynybekova', 'Kyrgyzstan'],
         ['Aisuluu Tynybekova', 'Kyrgyzstan'],
         ['Zevegiin Oidov', 'Mongolia'],
         ['Jamtsyn Davaajav', 'Mongolia']], dtype=object),
  'Olympic_Asian_Bronze': array([['Sun Yanan', 'China'],
         ['Zhou Qian', 'China'],
         ['Bajrang Punia', 'India'],
         ['Tofigh Jahanbakht', 'Iran'],
         ['Akira Kudo', 'Japan'],
         ['Chikara Tanabe', 'Japan'],
         ['Koichiro Hirayama', 'Japan'],
         ['Kosei Akaishi', 'Japan'],
         ['Takuya Ota', 'Japan'],
         ['Yasaburo Sugawara', 'Japan'],
         ['Yuji Takada', 'Japan'],
         ['Danzandarjaagiin Sereeter', 'Mongolia'],
         ['Bekzod Abdurakhmonov', 'Uzbekistan']], dtype=object)},
 'Athletics': {'Asian_Olympic_Gold': array([['Kalkidan Gezahegne', 'Bahrain'],
         ['Maryam Yusuf Jamal', 'Bahrain'],
         ['Huang Zhihong', 'China'],
         ['Li Meisu', 'China'],
         ['Li Yanfeng', 'China'],
         ['Qu Yunxia', 'China'],
         ['Sui Xinmei', 'China'],
         ['Zhang Wenxiu', 'China'],
         ['Zhou Chunxiu', 'China'],
         ['Si Tianfeng', 'China'],
         ['Zhu Jianhua', 'China'],
         ['Ehsan Haddadi', 'Iran'],
         ['Kenji Kimihara', 'Japan'],
         ['Koichi Morishita', 'Japan'],
         ['Ryota Yamagata', 'Japan'],
         ['Shingo Suetsugu', 'Japan'],
         ['Shinji Takahira', 'Japan'],
         ['Shota Iizuka', 'Japan'],
         ['Yoshihide Kiryu', 'Japan']], dtype=object),
  'Asian_Olympic_Silver': array([['Gong Lijiao', 'China'],
         ['Qieyang Shenjie', 'China'],
         ['Dong Bin', 'China'],
         ['Toshikazu Yamanishi', 'Japan'],
         ['Dilshod Nazarov', 'Tajikistan']], dtype=object),
  'Asian_Olympic_Bronze': array([['Xing Huina', 'China'],
         ['Ryota Yamagata', 'Japan'],
         ['Shinji Takahira', 'Japan'],
         ['Shota Iizuka', 'Japan']], dtype=object),
  'Olympic_Asian_Gold': array([['Xing Huina', 'China']], dtype=object),
  'Olympic_Asian_Silver': array([['Kalkidan Gezahegne', 'Bahrain'],
         ['Sui Xinmei', 'China'],
         ['Wang Junxia', 'China'],
         ['Zhang Wenxiu', 'China'],
         ['Ehsan Haddadi', 'Iran'],
         ['Kenji Kimihara', 'Japan'],
         ['Yoshihide Kiryu', 'Japan'],
         ['Mutaz Essa Barshim', 'Qatar']], dtype=object),
  'Olympic_Asian_Bronze': array([['Maryam Yusuf Jamal', 'Bahrain'],
         ['Gong Lijiao', 'China'],
         ['Li Meisu', 'China'],
         ['Li Yanfeng', 'China'],
         ['Liu Hong', 'China'],
         ['Qieyang Shenjie', 'China'],
         ['Qu Yunxia', 'China'],
         ['Zhang Wenxiu', 'China'],
         ['Zhou Chunxiu', 'China'],
         ['Dong Bin', 'China'],
         ['Si Tianfeng', 'China'],
         ['Wang Zhen', 'China'],
         ['Zhu Jianhua', 'China'],
         ['Toshikazu Yamanishi', 'Japan'],
         ['Mutaz Essa Barshim', 'Qatar']], dtype=object)},
 'Handball': {'Asian_Olympic_Gold': array([['Kim Rang', 'South Korea']], dtype=object),
  'Asian_Olympic_Silver': array([['Sun Xiulan', 'China']], dtype=object),
  'Asian_Olympic_Bronze': array([], shape=(0, 2), dtype=object),
  'Olympic_Asian_Gold': array([], shape=(0, 2), dtype=object),
  'Olympic_Asian_Silver': array([['Kim Rang', 'South Korea']], dtype=object),
  'Olympic_Asian_Bronze': array([['Sun Xiulan', 'China']], dtype=object)},
 'Boxing': {'Asian_Olympic_Gold': array([['Li Jinzi', 'China'],
         ['Ren Cancan', 'China'],
         ['Yin Junhua', 'China'],
         ['Zhang Zhilei', 'China'],
         ['Kiyoshi Tanabe', 'Japan'],
         ['Dorjnyambuugiin Otgondalai', 'Mongolia'],
         ['Worapoj Petchkoom', 'Thailand'],
         ['Rustam Saidov', 'Uzbekistan']], dtype=object),
  'Asian_Olympic_Silver': array([['Sudaporn Seesondee', 'Thailand'],
         ['Suriya Prasathinphimai', 'Thailand'],
         ['Somjit Jongjohor', 'Thailand'],
         ['Hasanboy Dusmatov', 'Uzbekistan']], dtype=object),
  'Asian_Olympic_Bronze': array([['Enkhbatyn Badar-Uugan', 'Mongolia'],
         ['Carlo Paalam', 'Philippines'],
         ['Worapoj Petchkoom', 'Thailand']], dtype=object),
  'Olympic_Asian_Gold': array([['Enkhbatyn Badar-Uugan', 'Mongolia'],
         ['Hasanboy Dusmatov', 'Uzbekistan']], dtype=object),
  'Olympic_Asian_Silver': array([['Ren Cancan', 'China'],
         ['Yin Junhua', 'China'],
         ['Zhang Zhilei', 'China'],
         ['Carlo Paalam', 'Philippines'],
         ['Worapoj Petchkoom', 'Thailand']], dtype=object),
  'Olympic_Asian_Bronze': array([['Li Jinzi', 'China'],
         ['Li Qian', 'China'],
         ['Ren Cancan', 'China'],
         ['Zou Shiming', 'China'],
         ['Kiyoshi Tanabe', 'Japan'],
         ['Dorjnyambuugiin Otgondalai', 'Mongolia'],
         ['Sudaporn Seesondee', 'Thailand'],
         ['Suriya Prasathinphimai', 'Thailand'],
         ['Rustam Saidov', 'Uzbekistan']], dtype=object)},
 'Karate': {'Asian_Olympic_Gold': array([['Yin Xiaoyan', 'China'],
         ['Wen Tzu-yun', 'Chinese Taipei'],
         ['Kiyou Shimizu', 'Japan'],
         ['Ryutaro Araga', 'Japan'],
         ['Darkhan Assadilov', 'Kazakhstan']], dtype=object),
  'Asian_Olympic_Silver': array([['Ryutaro Araga', 'Japan'],
         ['Abdelrahman Al-Masatfa', 'Jordan']], dtype=object),
  'Asian_Olympic_Bronze': array([['Yin Xiaoyan', 'China'],
         ['Tareg Hamedi', 'Saudi Arabia']], dtype=object),
  'Olympic_Asian_Gold': array([], shape=(0, 2), dtype=object),
  'Olympic_Asian_Silver': array([['Yin Xiaoyan', 'China'],
         ['Kiyou Shimizu', 'Japan'],
         ['Tareg Hamedi', 'Saudi Arabia']], dtype=object),
  'Olympic_Asian_Bronze': array([['Wen Tzu-yun', 'Chinese Taipei'],
         ['Ryutaro Araga', 'Japan'],
         ['Darkhan Assadilov', 'Kazakhstan']], dtype=object)},
 'Badminton': {'Asian_Olympic_Gold': array([['Chen Qingchen', 'China'],
         ['Guan Weizhen', 'China'],
         ['Huang Hua', 'China'],
         ['Huang Nanyan', 'China'],
         ['Huang Sui', 'China'],
         ['Huang Yaqiong', 'China'],
         ['Jia Yifan', 'China'],
         ['Ma Jin', 'China'],
         ['Nong Qunhua', 'China'],
         ['Qin Yiyuan', 'China'],
         ['Tang Jiuhong', 'China'],
         ['Wang Yihan', 'China'],
         ['Wei Yili', 'China'],
         ['Yao Fen', 'China'],
         ['Ye Zhaoying', 'China'],
         ['Zhang Yawen', 'China'],
         ['Zhou Mi', 'China'],
         ['Chen Jin', 'China'],
         ['Dong Jiong', 'China'],
         ['He Hanbin', 'China'],
         ['Li Junhui', 'China'],
         ['Li Yongbo', 'China'],
         ['Liu Yuchen', 'China'],
         ['Tian Bingyi', 'China'],
         ['Xu Chen', 'China'],
         ['Zheng Siwei', 'China'],
         ['Tai Tzu-ying', 'Chinese Taipei'],
         ['Hendrawan', 'Indonesia'],
         ['Hermawan Susanto', 'Indonesia'],
         ['Rudy Gunawan', 'Indonesia'],
         ['Arisa Higashino', 'Japan'],
         ['Nozomi Okuhara', 'Japan']], dtype=object),
  'Asian_Olympic_Silver': array([['Chen Yufei', 'China'],
         ['Gong Zhichao', 'China'],
         ['Huang Dongping', 'China'],
         ['Li Xuerui', 'China'],
         ['Yu Yang', 'China'],
         ['Zhang Jiewen', 'China'],
         ['Zhang Yawen', 'China'],
         ['Zhao Yunlei', 'China'],
         ['Li Yongbo', 'China'],
         ['Lin Dan', 'China'],
         ['Tian Bingyi', 'China'],
         ['Zhang Jun', 'China'],
         ['Zhang Nan', 'China'],
         ['P. V. Sindhu', 'India'],
         ['Anthony Sinisuka Ginting', 'Indonesia'],
         ['Candra Wijaya', 'Indonesia'],
         ['Taufik Hidayat', 'Indonesia'],
         ['Tontowi Ahmad', 'Indonesia'],
         ['Tontowi Ahmad', 'Indonesia'],
         ['Ayaka Takahashi', 'Japan'],
         ['Misaki Matsutomo', 'Japan']], dtype=object),
  'Asian_Olympic_Bronze': array([['Ge Fei', 'China'],
         ['Gu Jun', 'China'],
         ['Huang Dongping', 'China'],
         ['Huang Nanyan', 'China'],
         ['Ma Jin', 'China'],
         ['Tian Qing', 'China'],
         ['Yang Wei', 'China'],
         ['Zhang Jiewen', 'China'],
         ['Dong Jiong', 'China'],
         ['Li Junhui', 'China'],
         ['Lin Dan', 'China'],
         ['Liu Yuchen', 'China'],
         ['Xu Chen', 'China'],
         ['Zhang Jun', 'China'],
         ['Tai Tzu-ying', 'Chinese Taipei'],
         ['Lee Yang', 'Chinese Taipei'],
         ['Wang Chi-lin', 'Chinese Taipei'],
         ['Apriyani Rahayu', 'Indonesia'],
         ['Greysia Polii', 'Indonesia'],
         ['Minarti Timur', 'Indonesia'],
         ['Minarti Timur', 'Indonesia'],
         ['Hendra Setiawan', 'Indonesia'],
         ['Hendrawan', 'Indonesia'],
         ['Markis Kido', 'Indonesia'],
         ['Nova Widianto', 'Indonesia'],
         ['Rudy Gunawan', 'Indonesia'],
         ['Taufik Hidayat', 'Indonesia'],
         ['Tontowi Ahmad', 'Indonesia'],
         ['Tontowi Ahmad', 'Indonesia'],
         ['Ayaka Takahashi', 'Japan'],
         ['Misaki Matsutomo', 'Japan'],
         ['Reika Kakiiwa', 'Japan'],
         ['Chan Peng Soon', 'Malaysia'],
         ['Cheah Soon Kit', 'Malaysia'],
         ['Goh V Shem', 'Malaysia'],
         ['Lee Chong Wei', 'Malaysia'],
         ['Tan Wee Kiong', 'Malaysia'],
         ['Yap Kim Hock', 'Malaysia'],
         ['Yap Kim Hock', 'Malaysia']], dtype=object),
  'Olympic_Asian_Gold': array([['Chen Yufei', 'China'],
         ['Huang Dongping', 'China'],
         ['Zhang Jiewen', 'China'],
         ['Zhang Jun', 'China'],
         ['Lee Yang', 'Chinese Taipei'],
         ['Wang Chi-lin', 'Chinese Taipei'],
         ['Apriyani Rahayu', 'Indonesia'],
         ['Tontowi Ahmad', 'Indonesia'],
         ['Tontowi Ahmad', 'Indonesia']], dtype=object),
  'Olympic_Asian_Silver': array([['Gao Ling', 'China'],
         ['Guan Weizhen', 'China'],
         ['Huang Nanyan', 'China'],
         ['Ma Jin', 'China'],
         ['Nong Qunhua', 'China'],
         ['Wang Yihan', 'China'],
         ['Li Junhui', 'China'],
         ['Liu Yuchen', 'China'],
         ['Zheng Siwei', 'China'],
         ['Tai Tzu-ying', 'Chinese Taipei'],
         ['Minarti Timur', 'Indonesia'],
         ['Rudy Gunawan', 'Indonesia'],
         ['Reika Kakiiwa', 'Japan'],
         ['Chan Peng Soon', 'Malaysia'],
         ['Goh V Shem', 'Malaysia'],
         ['Tan Wee Kiong', 'Malaysia'],
         ['Yap Kim Hock', 'Malaysia'],
         ['Yap Kim Hock', 'Malaysia']], dtype=object),
  'Olympic_Asian_Bronze': array([['Gao Ling', 'China'],
         ['Gao Ling', 'China'],
         ['Wei Yili', 'China'],
         ['Yu Yang', 'China'],
         ['Zhang Yawen', 'China'],
         ['Zhang Yawen', 'China'],
         ['Zhou Mi', 'China'],
         ['Chen Long', 'China'],
         ['Li Yongbo', 'China'],
         ['Tian Bingyi', 'China'],
         ['Zhang Nan', 'China'],
         ['Arisa Higashino', 'Japan'],
         ['Nozomi Okuhara', 'Japan']], dtype=object)},
 'Football': {'Asian_Olympic_Gold': array([['Chen Yufeng', 'China'],
         ['Fan Yunjie', 'China'],
         ['Gao Hong', 'China'],
         ['Liu Ailing', 'China'],
         ['Liu Ying', 'China'],
         ['Shi Guihong', 'China'],
         ['Shui Qingxia', 'China'],
         ['Sun Qingmei', 'China'],
         ['Sun Wen', 'China'],
         ['Wang Liping', 'China'],
         ['Wei Haiying', 'China'],
         ['Wen Lirong', 'China'],
         ['Xie Huilin', 'China'],
         ['Yu Hongqi', 'China'],
         ['Zhao Lihong', 'China'],
         ['Aya Miyama', 'Japan'],
         ['Aya Sameshima', 'Japan'],
         ['Ayumi Kaihori', 'Japan'],
         ['Azusa Iwashimizu', 'Japan'],
         ['Homare Sawa', 'Japan'],
         ['Kyoko Yano', 'Japan'],
         ['Mana Iwabuchi', 'Japan'],
         ['Megumi Takase', 'Japan'],
         ['Mizuho Sakaguchi', 'Japan'],
         ['Nahomi Kawasumi', 'Japan'],
         ['Saki Kumagai', 'Japan'],
         ['Yukari Kinga', 'Japan']], dtype=object),
  'Asian_Olympic_Silver': array([], shape=(0, 2), dtype=object),
  'Asian_Olympic_Bronze': array([['Homare Sawa', 'Japan'],
         ['Karina Maruyama', 'Japan'],
         ['Miho Fukumoto', 'Japan']], dtype=object),
  'Olympic_Asian_Gold': array([], shape=(0, 2), dtype=object),
  'Olympic_Asian_Silver': array([['Chen Yufeng', 'China'],
         ['Gao Hong', 'China'],
         ['Liu Ailing', 'China'],
         ['Liu Ying', 'China'],
         ['Shi Guihong', 'China'],
         ['Shui Qingxia', 'China'],
         ['Sun Qingmei', 'China'],
         ['Wang Liping', 'China'],
         ['Wei Haiying', 'China'],
         ['Wen Lirong', 'China'],
         ['Xie Huilin', 'China'],
         ['Yu Hongqi', 'China'],
         ['Aya Sameshima', 'Japan'],
         ['Mana Iwabuchi', 'Japan'],
         ['Saki Kumagai', 'Japan'],
         ['Yukari Kinga', 'Japan']], dtype=object),
  'Olympic_Asian_Bronze': array([], shape=(0, 2), dtype=object)},
 'Sailing': {'Asian_Olympic_Gold': array([['Chen Peina', 'China'],
         ['Bi Kun', 'China'],
         ['Zhang Xiaodong', 'China'],
         ['Kazuto Seki', 'Japan']], dtype=object),
  'Asian_Olympic_Silver': array([['Lee Lai Shan', 'Hong Kong'],
         ['Kazuto Seki', 'Japan'],
         ['Kazuto Seki', 'Japan'],
         ['Kenjiro Todoroki', 'Japan'],
         ['Kenjiro Todoroki', 'Japan']], dtype=object),
  'Asian_Olympic_Bronze': array([], shape=(0, 2), dtype=object),
  'Olympic_Asian_Gold': array([['Yin Jian', 'China'],
         ['Yin Jian', 'China']], dtype=object),
  'Olympic_Asian_Silver': array([['Chen Peina', 'China'],
         ['Zhang Xiaodong', 'China']], dtype=object),
  'Olympic_Asian_Bronze': array([['Xu Lijia', 'China'],
         ['Xu Lijia', 'China'],
         ['Bi Kun', 'China'],
         ['Kazuto Seki', 'Japan'],
         ['Kazuto Seki', 'Japan'],
         ['Kenjiro Todoroki', 'Japan'],
         ['Kenjiro Todoroki', 'Japan']], dtype=object)},
 'Shooting': {'Asian_Olympic_Gold': array([['Gao E', 'China'],
         ['Gao Jing', 'China'],
         ['Wang Chengyi', 'China'],
         ['Wei Meng', 'China'],
         ['Wei Ning', 'China'],
         ['Yu Dan', 'China'],
         ['Zhang Binbin', 'China'],
         ['Ding Feng', 'China'],
         ['Hu Binyuan', 'China'],
         ['Huang Shiping', 'China'],
         ['Li Jie', 'China'],
         ['Li Yuehong', 'China'],
         ['Niu Zhiyuan', 'China'],
         ['Tan Zongliang', 'China'],
         ['Wang Zhiwei', 'China'],
         ['Zhang Bing', 'China'],
         ['Vijay Kumar', 'India'],
         ['Kazumi Watanabe', 'Japan'],
         ['Ryohei Koba', 'Japan'],
         ['Ryohei Koba', 'Japan'],
         ['Yoshihisa Yoshikawa', 'Japan'],
         ['Abdullah Al-Rashidi', 'Kuwait'],
         ['Fehaid Al-Deehani', 'Kuwait']], dtype=object),
  'Asian_Olympic_Silver': array([['Gao E', 'China'],
         ['Gao Jing', 'China'],
         ['Guo Wenjun', 'China'],
         ['Wang Chengyi', 'China'],
         ['Wei Meng', 'China'],
         ['Yi Siling', 'China'],
         ['Cai Yalin', 'China'],
         ['Hu Binyuan', 'China'],
         ['Li Yuehong', 'China'],
         ['Pang Wei', 'China'],
         ['Qiu Jian', 'China'],
         ['Wang Zhiwei', 'China'],
         ['Yang Haoran', 'China'],
         ['Yang Ling', 'China'],
         ['Zhang Bing', 'China'],
         ['Abhinav Bindra', 'India'],
         ['Gagan Narang', 'India'],
         ['Ryohei Koba', 'Japan'],
         ['Ryohei Koba', 'Japan'],
         ['Takeo Kamachi', 'Japan'],
         ['Abdullah Al-Rashidi', 'Kuwait'],
         ['Fehaid Al-Deehani', 'Kuwait']], dtype=object),
  'Asian_Olympic_Bronze': array([['Guo Wenjun', 'China'],
         ['Li Duihong', 'China'],
         ['Zhang Binbin', 'China'],
         ['Yang Ling', 'China'],
         ['Zhu Qinan', 'China'],
         ['Abhinav Bindra', 'India'],
         ['Rajyavardhan Singh Rathore', 'India'],
         ['Vijay Kumar', 'India'],
         ['Kazumi Watanabe', 'Japan'],
         ['Kazumi Watanabe', 'Japan'],
         ['Takeo Kamachi', 'Japan'],
         ['Kim Min-jung', 'South Korea']], dtype=object),
  'Olympic_Asian_Gold': array([['Yang Haoran', 'China'],
         ['Abhinav Bindra', 'India']], dtype=object),
  'Olympic_Asian_Silver': array([['Du Li', 'China'],
         ['Zhang Binbin', 'China'],
         ['Huang Shiping', 'China'],
         ['Li Jie', 'China'],
         ['Kazumi Watanabe', 'Japan']], dtype=object),
  'Olympic_Asian_Bronze': array([['Du Li', 'China'],
         ['Gao E', 'China'],
         ['Gao Jing', 'China'],
         ['Wei Meng', 'China'],
         ['Wu Xiaoxuan', 'China'],
         ['Yi Siling', 'China'],
         ['Yu Dan', 'China'],
         ['Ding Feng', 'China'],
         ['Hu Binyuan', 'China'],
         ['Huang Shiping', 'China'],
         ['Li Yuehong', 'China'],
         ['Niu Zhiyuan', 'China'],
         ['Pang Wei', 'China'],
         ['Wang Yifu', 'China'],

as we can see that we get the list of players sport-wise,so for any particular sport we can find the players who were not able to maintain the consistency between asian and olympic games.Also if we want we can find for a particular country also the list of inconsistent players for a particular sport.

In [138]:
max_players_gold=[0,'']
for x,y in sport_wise.items():
    cnt=0
    for z in y["Asian_Olympic_Gold"]:
        if z[1]=="India":
            cnt+=1
    for z in y["Olympic_Asian_Gold"]:
        if z[1]=="India":
            cnt+=1
    if cnt>max_players_gold[0]:
        max_players_gold[0]=cnt
        max_players_gold[1]=x
max_players_gold

[4, 'Field hockey']

So, as we can see that for india in the sport "Field hockey" there are maximum number of players who did not able to maintain the consistency between asian and olympic gold medals.

In [139]:
players_list=[]
x=sport_wise[max_players_gold[1]]
for y in x["Asian_Olympic_Gold"]:
    if y[1]=="India":
        players_list.append([y[0],"Asian_Gold"])
for y in x["Olympic_Asian_Gold"]:
    if y[1]=="India":
        players_list.append([y[0],"Olympic_Gold"])
players_list

[['Birendra Lakra', 'Asian_Gold'],
 ['Manpreet Singh', 'Asian_Gold'],
 ['P. R. Sreejesh', 'Asian_Gold'],
 ['Rupinder Pal Singh', 'Asian_Gold']]

In [140]:
asian_player3=asian_player2.drop(columns=["Sport"])
oly_player3=oly_player2.drop(columns=["Sport"])

In [141]:
asian_player3=asian_player3.groupby(by=["Country","Player_Name"]).sum().reset_index()
oly_player3=oly_player3.groupby(by=["Country","Name"]).sum().reset_index()

In [142]:
overall={}

result=oly_player3.merge(asian_player3,left_on="Name",right_on="Player_Name",suffixes=('_Olympic','_Asian'))

overall["Asian_Olympic_Gold"]=result[(result["Gold_Asian"]>=1) & (result["Gold_Olympic"]==0)][["Name","Country_Asian"]].values
overall["Asian_Olympic_Silver"]=result[(result["Silver_Asian"]>=1) & (result["Silver_Olympic"]==0)][["Name","Country_Asian"]].values
overall["Asian_Olympic_Bronze"]=result[(result["Bronze_Asian"]>=1) & (result["Bronze_Olympic"]==0)][["Name","Country_Asian"]].values

overall["Olympic_Asian_Gold"]=result[(result["Gold_Asian"]==0) & (result["Gold_Olympic"]>=1)][["Name","Country_Asian"]].values
overall["Olympic_Asian_Silver"]=result[(result["Silver_Asian"]==0) & (result["Silver_Olympic"]>=1)][["Name","Country_Asian"]].values
overall["Olympic_Asian_Bronze"]=result[(result["Bronze_Asian"]==0) & (result["Bronze_Olympic"]>=1)][["Name","Country_Asian"]].values

In [143]:
overall

{'Asian_Olympic_Gold': array([['Kalkidan Gezahegne', 'Bahrain'],
        ['Maryam Yusuf Jamal', 'Bahrain'],
        ['An Zhongxin', 'China'],
        ['Bao Yingying', 'China'],
        ['Bi Kun', 'China'],
        ['Bi Wenjing', 'China'],
        ['Cao Mianying', 'China'],
        ['Cao Zhongrong', 'China'],
        ['Chang Si', 'China'],
        ['Chao Na', 'China'],
        ['Chen Hong', 'China'],
        ['Chen Jin', 'China'],
        ['Chen Jing', 'China'],
        ['Chen Peina', 'China'],
        ['Chen Qingchen', 'China'],
        ['Chen Qiuqi', 'China'],
        ['Chen Xiaojun', 'China'],
        ['Chen Yan', 'China'],
        ['Chen Yongyan', 'China'],
        ['Chen Yuefang', 'China'],
        ['Chen Yufeng', 'China'],
        ['Chen Zhaoxia', 'China'],
        ['Chen Zihe', 'China'],
        ['Cheng Hui', 'China'],
        ['Cong Xuedi', 'China'],
        ['Dai Jun', 'China'],
        ['Deng Shudi', 'China'],
        ['Ding Feng', 'China'],
        ['Dong Jiong', 'China'],
        ['Dong Zhaozhi', 'China'],
        ['Duan Jingli', 'China'],
        ['Fan Bin', 'China'],
        ['Fan Hongbin', 'China'],
        ['Fan Yunjie', 'China'],
        ['Feng Yu', 'China'],
        ['Fu Baorong', 'China'],
        ['Fu Yuanhui', 'China'],
        ['Gao E', 'China'],
        ['Gao Feng', 'China'],
        ['Gao Hong', 'China'],
        ['Gao Jing', 'China'],
        ['Gao Lihua', 'China'],
        ['Gu Beibei', 'China'],
        ['Gu Xiao', 'China'],
        ['Guan Weizhen', 'China'],
        ['Guo Li', 'China'],
        ['Guo Linlin', 'China'],
        ['Guo Linyao', 'China'],
        ['Guo Shuang', 'China'],
        ['Han Xue', 'China'],
        ['Hao Jialu', 'China'],
        ['Hao Yun', 'China'],
        ['He Hanbin', 'China'],
        ['He Qi', 'China'],
        ['He Yanwen', 'China'],
        ['He Ying', 'China'],
        ['He Yingqiang', 'China'],
        ['He Zhuoqiang', 'China'],
        ['Hu Binyuan', 'China'],
        ['Hu Yadong', 'China'],
        ['Huang Haiyang', 'China'],
        ['Huang Hua', 'China'],
        ['Huang Huadong', 'China'],
        ['Huang Junxia', 'China'],
        ['Huang Liping', 'China'],
        ['Huang Nanyan', 'China'],
        ['Huang Qun', 'China'],
        ['Huang Shanshan', 'China'],
        ['Huang Shiping', 'China'],
        ['Huang Sui', 'China'],
        ['Huang Wenyi', 'China'],
        ['Huang Xiaomin', 'China'],
        ['Huang Xuechen', 'China'],
        ['Huang Yaqiong', 'China'],
        ['Huang Zhihong', 'China'],
        ['Jia Yifan', 'China'],
        ['Jiang Haiqi', 'China'],
        ['Jiang Tingting', 'China'],
        ['Jiang Wenwen', 'China'],
        ['Jiang Yonghua', 'China'],
        ['Jiao Zhimin', 'China'],
        ['Ju Rui', 'China'],
        ['Lai Runming', 'China'],
        ['Lai Yawen', 'China'],
        ['Le Maosheng', 'China'],
        ['Lei Li', 'China'],
        ['Li Chunyang', 'China'],
        ['Li Dan', 'China'],
        ['Li Dashuang', 'China'],
        ['Li Deliang', 'China'],
        ['Li Ge', 'China'],
        ['Li Guojun', 'China'],
        ['Li Hongli', 'China'],
        ['Li Hongxia', 'China'],
        ['Li Jie', 'China'],
        ['Li Jing', 'China'],
        ['Li Jingjing', 'China'],
        ['Li Jinzi', 'China'],
        ['Li Juan', 'China'],
        ['Li Junhui', 'China'],
        ['Li Kongzheng', 'China'],
        ['Li Meisu', 'China'],
        ['Li Ronghua', 'China'],
        ['Li Shuang', 'China'],
        ['Li Xiaolu', 'China'],
        ['Li Xiaoping', 'China'],
        ['Li Xin', 'China'],
        ['Li Xuanxu', 'China'],
        ['Li Yan', 'China'],
        ['Li Yanfeng', 'China'],
        ['Li Yongbo', 'China'],
        ['Li Yuehong', 'China'],
        ['Li Yuejiu', 'China'],
        ['Li Yueming', 'China'],
        ['Li Yunqi', 'China'],
        ['Li Zhongyun', 'China'],
        ['Li Zhuo', 'China'],
        ['Liang Qin', 'China'],
        ['Liang Xinping', 'China'],
        ['Lin Chaopan', 'China'],
        ['Lin Sang', 'China'],
        ['Ling Jie', 'China'],
        ['Liu Ailing', 'China'],
        ['Liu Hao', 'China'],
        ['Liu Limin', 'China'],
        ['Liu Lingling', 'China'],
        ['Liu Ou', 'China'],
        ['Liu Qing', 'China'],
        ['Liu Wei', 'China'],
        ['Liu Xia', 'China'],
        ['Liu Xuqing', 'China'],
        ['Liu Yaju', 'China'],
        ['Liu Ying', 'China'],
        ['Liu Yuchen', 'China'],
        ['Liu Zhiyu', 'China'],
        ['Lu Bin', 'China'],
        ['Lu Ying', 'China'],
        ['Luo Xi', 'China'],
        ['Ma Jin', 'China'],
        ['Ma Wenge', 'China'],
        ['Ma Xiangjun', 'China'],
        ['Ma Yibo', 'China'],
        ['Ma Ying', 'China'],
        ['Ma Yunwen', 'China'],
        ['Miao Tian', 'China'],
        ['Mo Huilan', 'China'],
        ['Niu Zhiyuan', 'China'],
        ['Nong Qunhua', 'China'],
        ['Ou Jingbai', 'China'],
        ['Pan Feihong', 'China'],
        ['Pang Jiaying', 'China'],
        ['Peng Ping', 'China'],
        ['Qiao Yunping', 'China'],
        ['Qin Dongya', 'China'],
        ['Qin Yiyuan', 'China'],
        ['Qiu Bo', 'China'],
        ['Qiu Chen', 'China'],
        ['Qu Yunxia', 'China'],
        ['Ren Cancan', 'China'],
        ['Ren Ye', 'China'],
        ['Shan Ying', 'China'],
        ['Shang Chunsong', 'China'],
        ['Shi Guihong', 'China'],
        ['Shi Jinglin', 'China'],
        ['Shui Qingxia', 'China'],
        ['Si Tianfeng', 'China'],
        ['Si Yajie', 'China'],
        ['Song Qingling', 'China'],
        ['Song Xiaobo', 'China'],
        ['Su Huijuan', 'China'],
        ['Sui Lu', 'China'],
        ['Sui Xinmei', 'China'],
        ['Sun Dan', 'China'],
        ['Sun Qingmei', 'China'],
        ['Sun Qiuting', 'China'],
        ['Sun Wei', 'China'],
        ['Sun Wen', 'China'],
        ['Sun Wenyan', 'China'],
        ['Sun Yue', 'China'],
        ['Tan Jiaxin', 'China'],
        ['Tan Liangde', 'China'],
        ['Tan Xue', 'China'],
        ['Tan Zongliang', 'China'],
        ['Tang Chunling', 'China'],
        ['Tang Jingzhi', 'China'],
        ['Tang Jiuhong', 'China'],
        ['Tang Mengni', 'China'],
        ['Tang Yi', 'China'],
        ['Tao Hua', 'China'],
        ['Tian Bingyi', 'China'],
        ['Tian Jia', 'China'],
        ['Tian Tao', 'China'],
        ['Tong Fei', 'China'],
        ['Wang Chengyi', 'China'],
        ['Wang Fang', 'China'],
        ['Wang Haibin', 'China'],
        ['Wang Huifeng', 'China'],
        ['Wang Jun', 'China'],
        ['Wang Lei', 'China'],
        ['Wang Lihong', 'China'],
        ['Wang Lili', 'China'],
        ['Wang Na', 'China'],
        ['Wang Qianyi', 'China'],
        ['Wang Xianbo', 'China'],
        ['Wang Xiaohong', 'China'],
        ['Wang Xiaozhu', 'China'],
        ['Wang Yan', 'China'],
        ['Wang Yi', 'China'],
        ['Wang Yihan', 'China'],
        ['Wang Yimei', 'China'],
        ['Wang Ying', 'China'],
        ['Wang Yuwei', 'China'],
        ['Wang Zhiwei', 'China'],
        ['Wang Ziling', 'China'],
        ['Wei Haiying', 'China'],
        ['Wei Meng', 'China'],
        ['Wei Ning', 'China'],
        ['Wei Qiang', 'China'],
        ['Wei Yili', 'China'],
        ['Wen Lirong', 'China'],
        ['Wu Dan', 'China'],
        ['Wu Hanxiong', 'China'],
        ['Wu Jiani', 'China'],
        ['Wu Jingbiao', 'China'],
        ['Wu Meijin', 'China'],
        ['Wu Yiwen', 'China'],
        ['Wu Yongmei', 'China'],
        ['Xiao Ruoteng', 'China'],
        ['Xiao Yanning', 'China'],
        ['Xie Huilin', 'China'],
        ['Xiu Lijuan', 'China'],
        ['Xu Chen', 'China'],
        ['Xu Dongxiang', 'China'],
        ['Xu Jian', 'China'],
        ['Xu Jiayu', 'China'],
        ['Xu Jing', 'China'],
        ['Xu Yan', 'China'],
        ['Xu Yanwei', 'China'],
        ['Xu Zhiqiang', 'China'],
        ['Xue Ming', 'China'],
        ['Yan Fang', 'China'],
        ['Yan Zi', 'China'],
        ['Yan Zibei', 'China'],
        ['Yang Jian', 'China'],
        ['Yang Shaoqi', 'China'],
        ['Yang Xiao', 'China'],
        ['Yang Ying', 'China'],
        ['Yang Yu', 'China'],
        ['Yao Fen', 'China'],
        ['Ye Chong', 'China'],
        ['Ye Zhaoying', 'China'],
        ['Yin Chengxin', 'China'],
        ['Yin Junhua', 'China'],
        ['Yin Xiaoyan', 'China'],
        ['Yu Dan', 'China'],
        ['Yu Hongqi', 'China'],
        ['Zeng Zhen', 'China'],
        ['Zhang Binbin', 'China'],
        ['Zhang Bing', 'China'],
        ['Zhang Chunfang', 'China'],
        ['Zhang Di', 'China'],
        ['Zhang Hui', 'China'],
        ['Zhang Liang', 'China'],
        ['Zhang Lin', 'China'],
        ['Zhang Min', 'China'],
        ['Zhang Shuo', 'China'],
        ['Zhang Wenxiu', 'China'],
        ['Zhang Xiaodong', 'China'],
        ['Zhang Xiaohuan', 'China'],
        ['Zhang Xiuyun', 'China'],
        ['Zhang Yawen', 'China'],
        ['Zhang Yimeng', 'China'],
        ['Zhang Yueqin', 'China'],
        ['Zhang Zhilei', 'China'],
        ['Zhang Zhiting', 'China'],
        ['Zhao Jing', 'China'],
        ['Zhao Lihong', 'China'],
        ['Zhao Yudiao', 'China'],
        ['Zheng Haixia', 'China'],
        ['Zheng Jie', 'China'],
        ['Zheng Siwei', 'China'],
        ['Zhou Chunxiu', 'China'],
        ['Zhou Mi', 'China'],
        ['Zhou Ping', 'China'],
        ['Zhou Qian', 'China'],
        ['Zhou Shouying', 'China'],
        ['Zhou Wanfeng', 'China'],
        ['Zhou Xiuhua', 'China'],
        ['Zhou Yafei', 'China'],
        ['Zhu Jianhua', 'China'],
        ['Zhu Qianwei', 'China'],
        ['Zhu Yingwen', 'China'],
        ['Lee Chih-kai', 'Chinese Taipei'],
        ['Pan Cheng-tsung', 'Chinese Taipei'],
        ['Tai Tzu-ying', 'Chinese Taipei'],
        ['Tang Chih-chun', 'Chinese Taipei'],
        ['Wei Chun-heng', 'Chinese Taipei'],
        ['Wen Tzu-yun', 'Chinese Taipei'],
        ['Ko Lai Chak', 'Hong Kong'],
        ['Lee Wai Sze', 'Hong Kong'],
        ['Li Ching', 'Hong Kong'],
        ['Bajrang Punia', 'India'],
        ['Birendra Lakra', 'India'],
        ['Harmik Singh', 'India'],
        ['Manpreet Singh', 'India'],
        ['P. R. Sreejesh', 'India'],
        ['Rupinder Pal Singh', 'India'],
        ['Vijay Kumar', 'India'],
        ['Yogeshwar Dutt', 'India'],
        ['Eko Yuli Irawan', 'Indonesia'],
        ['Hendrawan', 'Indonesia'],
        ['Hermawan Susanto', 'Indonesia'],
        ['Rudy Gunawan', 'Indonesia'],
        ['Abbas Jadidi', 'Iran'],
        ['Ehsan Haddadi', 'Iran'],
        ['Hassan Yazdani', 'Iran'],
        ['Mansour Barzegar', 'Iran'],
        ['Mohammad Bagheri Motamed', 'Iran'],
        ['Parviz Jalayer', 'Iran'],
        ['Rahim Aliabadi', 'Iran'],
        ['Sadegh Goudarzi', 'Iran'],
        ['Yousef Karami', 'Iran'],
        ['Akira Kudo', 'Japan'],
        ['Akiyo Noguchi', 'Japan'],
        ['Arisa Higashino', 'Japan'],
        ['Aya Miyama', 'Japan'],
        ['Aya Sameshima', 'Japan'],
        ['Ayumi Kaihori', 'Japan'],
        ['Azusa Iwashimizu', 'Japan'],
        ['Chiharu Icho', 'Japan'],
        ['Daishin Nakamura', 'Japan'],
        ['Daiya Seto', 'Japan'],
        ['Emi Naito', 'Japan'],
        ['Fumiko Okuno', 'Japan'],
        ['Haruka Saito', 'Japan'],
        ['Hideaki Okubo', 'Japan'],
        ['Hiroshi Suzuki', 'Japan'],
        ['Hiroshi Yamamoto', 'Japan'],
        ['Hirotaka Okada', 'Japan'],
        ['Hitoshi Ono', 'Japan'],
        ['Homare Sawa', 'Japan'],
        ['Isao Koizumi', 'Japan'],
        ['Junichi Miyashita', 'Japan'],
        ['Juri Takayama', 'Japan'],
        ['Kazue Ito', 'Japan'],
        ['Kazumasa Hirai', 'Japan'],
        ['Kazumi Watanabe', 'Japan'],
        ['Kazuo Tomita', 'Japan'],
        ['Kazushito Manabe', 'Japan'],
        ['Kazuto Seki', 'Japan'],
        ['Keigo Shimizu', 'Japan'],
        ['Keiko Hama', 'Japan'],
        ['Kenji Kimihara', 'Japan'],
        ['Kenkichi Ando', 'Japan'],
        ['Kenta Chida', 'Japan'],
        ['Kikuo Wada', 'Japan'],
        ['Kiyoshi Tanabe', 'Japan'],
        ['Kiyou Shimizu', 'Japan'],
        ['Koichi Morishita', 'Japan'],
        ['Koichiro Hirayama', 'Japan'],
        ['Kunihiro Iwasaki', 'Japan'],
        ['Kyoko Hamaguchi', 'Japan'],
        ['Kyoko Yano', 'Japan'],
        ['Makiko Furukawa', 'Japan'],
        ['Makoto Fukui', 'Japan'],
        ['Mamoru Shiragami', 'Japan'],
        ['Mana Iwabuchi', 'Japan'],
        ['Mariko Masubuchi', 'Japan'],
        ['Masahiko Mori', 'Japan'],
        ['Masami Tanaka', 'Japan'],
        ['Masanori Sugiura', 'Japan'],
        ['Masashi Ebinuma', 'Japan'],
        ['Megumi Takase', 'Japan'],
        ['Miho Takeda', 'Japan'],
        ['Mika Sugimoto', 'Japan'],
        ['Misako Ando', 'Japan'],
        ['Misato Nakamura', 'Japan'],
        ['Miya Tachibana', 'Japan'],
        ['Mizuho Sakaguchi', 'Japan'],
        ['Nahomi Kawasumi', 'Japan'],
        ['Naito Ehara', 'Japan'],
        ['Natsumi Hoshi', 'Japan'],
        ['Nobuhiko Matsunaka', 'Japan'],
        ['Noriko Yamaji', 'Japan'],
        ['Noritoshi Hirata', 'Japan'],
        ['Nozomi Okuhara', 'Japan'],
        ['Reika Utsugi', 'Japan'],
        ['Reiko Nakamura', 'Japan'],
        ['Ryo Miyake', 'Japan'],
        ['Ryo Tateishi', 'Japan'],
        ['Ryohei Koba', 'Japan'],
        ['Ryoji Isaoka', 'Japan'],
        ['Ryosuke Irie', 'Japan'],
        ['Ryota Yamagata', 'Japan'],
        ['Ryutaro Araga', 'Japan'],
        ['Saki Kumagai', 'Japan'],
        ['Satomi Suzuki', 'Japan'],
        ['Setsuko Yoshida', 'Japan'],
        ['Shigeru Kasahara', 'Japan'],
        ['Shingo Suetsugu', 'Japan'],
        ['Shinichi Shinohara', 'Japan'],
        ['Shinji Takahira', 'Japan'],
        ['Shinobu Ota', 'Japan'],
        ['Shota Iizuka', 'Japan'],
        ['Sumika Minamoto', 'Japan'],
        ['Tadanori Koshino', 'Japan'],
        ['Takaharu Furukawa', 'Japan'],
        ['Takashi Irie', 'Japan'],
        ['Takashi Ishimoto', 'Japan'],
        ['Takashi Yamamoto', 'Japan'],
        ['Takayuki Takabayashi', 'Japan'],
        ['Takeshi Matsuda', 'Japan'],
        ['Takuro Fujii', 'Japan'],
        ['Takuya Haneda', 'Japan'],
        ['Tatsuo Fujimoto', 'Japan'],
        ['Teijiro Tanikawa', 'Japan'],
        ['Teruhisa Moriyama', 'Japan'],
        ['Tomoaki Sato', 'Japan'],
        ['Toyoko Iwahara', 'Japan'],
        ['Tsutomu Koyama', 'Japan'],
        ['Tsutomu Sakamoto', 'Japan'],
        ['Tsuyoshi Yamanaka', 'Japan'],
        ['Yasaburo Sugawara', 'Japan'],
        ['Yasuaki Mitsumori', 'Japan'],
        ['Yasuko Tajima', 'Japan'],
        ['Yasutaka Sato', 'Japan'],
        ['Yoko Tanabe', 'Japan'],
        ['Yoshiaki Hatakeda', 'Japan'],
        ['Yoshie Ueno', 'Japan'],
        ['Yoshihide Kiryu', 'Japan'],
        ['Yoshihiro Okumura', 'Japan'],
        ['Yoshihisa Yoshikawa', 'Japan'],
        ['Yoshiyuki Miyake', 'Japan'],
        ['Yukari Kinga', 'Japan'],
        ['Yuki Kobori', 'Japan'],
        ['Yuki Ota', 'Japan'],
        ['Yukimasa Nakamura', 'Japan'],
        ['Yukiyo Kojima', 'Japan'],
        ['Yuko Nakanishi', 'Japan'],
        ['Yumi Iwabuchi', 'Japan'],
        ['Yumi Kajihara', 'Japan'],
        ['Yutaka Demachi', 'Japan'],
        ['Darkhan Assadilov', 'Kazakhstan'],
        ['Yeldos Smetov', 'Kazakhstan'],
        ['Abdullah Al-Rashidi', 'Kuwait'],
        ['Fehaid Al-Deehani', 'Kuwait'],
        ['Aisuluu Tynybekova', 'Kyrgyzstan'],
        ['Azizulhasni Awang', 'Malaysia'],
        ['Dorjnyambuugiin Otgondalai', 'Mongolia'],
        ['Khashbaataryn Tsagaanbaatar', 'Mongolia'],
        ['Zevegiin Oidov', 'Mongolia'],
        ['Anjum Saeed', 'Pakistan'],
        ['Arshad Mahmood', 'Pakistan'],
        ['Farhat Hassan Khan', 'Pakistan'],
        ['Khalid Bashir', 'Pakistan'],
        ['Muhammad Bashir', 'Pakistan'],
        ['Muhammad Qamar Ibrahim', 'Pakistan'],
        ['Musaddiq Hussain', 'Pakistan'],
        ['Qamar Zia', 'Pakistan'],
        ['Saleem Nazim', 'Pakistan'],
        ['Samiullah Khan', 'Pakistan'],
        ['Shahbaz Ahmed', 'Pakistan'],
        ['Tahir Zaman', 'Pakistan'],
        ['Wasim Feroz', 'Pakistan'],
        ['Zafar Hayat', 'Pakistan'],
        ['Ahmed Tijan', 'Qatar'],
        ['Cherif Younousse', 'Qatar'],
        ['Kamal Bahamdan', 'Saudi Arabia'],
        ['Khaled Al-Eid', 'Saudi Arabia'],
        ['Ramzy Al-Duhami', 'Saudi Arabia'],
        ['Choi Soo-yeon', 'South Korea'],
        ['Jun Woong-tae', 'South Korea'],
        ['Kang Young-mi', 'South Korea'],
        ['Kim Ji-yeon', 'South Korea'],
        ['Kim Rang', 'South Korea'],
        ['Kweon Young-jun', 'South Korea'],
        ['Lee Da-bin', 'South Korea'],
        ['Park Sang-young', 'South Korea'],
        ['Yeo Seo-jeong', 'South Korea'],
        ['Yoon Ji-su', 'South Korea'],
        ['Chanatip Sonkham', 'Thailand'],
        ['Worapoj Petchkoom', 'Thailand'],
        ['Bekzod Abdurakhmonov', 'Uzbekistan'],
        ['Rustam Saidov', 'Uzbekistan']], dtype=object),
 'Asian_Olympic_Silver': array([['Cai Yalin', 'China'],
        ['Cao Lei', 'China'],
        ['Chen Lijun', 'China'],
        ['Chen Longcan', 'China'],
        ['Chen Meng', 'China'],
        ['Chen Qi', 'China'],
        ['Chen Ruolin', 'China'],
        ['Chen Yan', 'China'],
        ['Chen Yongyan', 'China'],
        ['Chen Yufei', 'China'],
        ['Chen Zhong', 'China'],
        ['Dai Xiaoxiang', 'China'],
        ['Deng Linlin', 'China'],
        ['Deng Wei', 'China'],
        ['Deng Yaping', 'China'],
        ['Ding Xia', 'China'],
        ['Dong Bin', 'China'],
        ['Feng Zhe', 'China'],
        ['Fu Yuanhui', 'China'],
        ['Gao E', 'China'],
        ['Gao Feng', 'China'],
        ['Gao Jing', 'China'],
        ['Gao Lei', 'China'],
        ['Gong Lijiao', 'China'],
        ['Gong Zhichao', 'China'],
        ['Gu Beibei', 'China'],
        ['Guo Wenjun', 'China'],
        ['Guo Yue', 'China'],
        ['Han Xue', 'China'],
        ['He Chong', 'China'],
        ['He Wenna', 'China'],
        ['Hu Binyuan', 'China'],
        ['Huang Dongping', 'China'],
        ['Huang Qun', 'China'],
        ['Huang Xu', 'China'],
        ['Huo Liang', 'China'],
        ['Jiang Cuihua', 'China'],
        ['Lang Ping', 'China'],
        ['Lei Sheng', 'China'],
        ['Li Bingjie', 'China'],
        ['Li Dan', 'China'],
        ['Li Deliang', 'China'],
        ['Li Jingjing', 'China'],
        ['Li Kongzheng', 'China'],
        ['Li Xiaopeng', 'China'],
        ['Li Xuanxu', 'China'],
        ['Li Xuerui', 'China'],
        ['Li Yongbo', 'China'],
        ['Li Yuehong', 'China'],
        ['Li Yunqi', 'China'],
        ['Lin Dan', 'China'],
        ['Liu Xiang', 'China'],
        ['Liu Xuan', 'China'],
        ['Liu Yang', 'China'],
        ['Lu Chunlong', 'China'],
        ['Lu Yong', 'China'],
        ['Luo Xiaojuan', 'China'],
        ['Luo Xuejuan', 'China'],
        ['Luo Yutong', 'China'],
        ['Ma Lin', 'China'],
        ['Meng Suping', 'China'],
        ['Niu Jianfeng', 'China'],
        ['Pang Wei', 'China'],
        ['Qian Hong', 'China'],
        ['Qieyang Shenjie', 'China'],
        ['Qiu Jian', 'China'],
        ['Shang Chunsong', 'China'],
        ['Sheng Zetian', 'China'],
        ['Shi Tingmao', 'China'],
        ['Shi Zhiyong', 'China'],
        ['Song Xiaobo', 'China'],
        ['Su Huijuan', 'China'],
        ['Sun Wei', 'China'],
        ['Sun Xiulan', 'China'],
        ['Sun Ye', 'China'],
        ['Tang Lingsheng', 'China'],
        ['Tang Yi', 'China'],
        ['Teng Haibin', 'China'],
        ['Tian Bingyi', 'China'],
        ['Wang Chengyi', 'China'],
        ['Wang Feng', 'China'],
        ['Wang Manyu', 'China'],
        ['Wang Na', 'China'],
        ['Wang Shun', 'China'],
        ['Wang Yan', 'China'],
        ['Wang Zhiwei', 'China'],
        ['Wei Meng', 'China'],
        ['Wu Jiani', 'China'],
        ['Xian Dongmei', 'China'],
        ['Xiao Hailiang', 'China'],
        ['Xu Tianlongzi', 'China'],
        ['Xu Yanmei', 'China'],
        ['Yan Ni', 'China'],
        ['Yang Haoran', 'China'],

so here we can see that we get the overall list of all players,who were not able to maintain the consistency between asian and olympic games.Also if we want we can find for a particular country the list of inconsistent players.

In [144]:
countries=result["Country_Olympic"].unique()
max_player_country=[]
for x in countries:
    arr1=overall["Asian_Olympic_Gold"]
    arr1=arr1[arr1[:,1]==x]
    
    arr2=overall["Olympic_Asian_Gold"]
    arr2=arr2[arr2[:,1]==x]
    max_player_country.append([x,len(arr1)+len(arr2)])

max_player_country=sorted(max_player_country,key=lambda x:x[1])
print(max_player_country[-1])

['China', 311]

So as we can see that china is the country with maximum number of players,who were not able to maintain the consistency between asian and olympic games w.r.t. gold medal